<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3>Ingressos</h3>

        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/vingadores.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
        </div>
        <div class="card-content">
          <!--
            REFERENCIA: https://blog.angular-university.io/angular-reactive-templates/
          -->
          <div>
            Filtrar Ingressos por Filme:
            <select id="#selectFilmes">
                <option selected="selected" disabled>Selecione o filme...</option>
                <option *ngFor="let filme of filmes$ | async" [value]="filme">{{ filme.nome }}</option>
            </select>
          </div>

          <div>
            <hr />
            <!-- <form-ingresso></form-ingresso> -->
            <hr />
          </div>

          <div
            #listaIngressos
            *ngIf="(ingressos$ | async) as ingressos; else: progressoCarregamento">
            <ng-template ngFor let-i="index" let-ingresso [ngForOf]="ingressos">
              <div
                class="media-content"
                id="{{'ingresso_' + ingresso.filme.id + '_' + ingresso.posicao }}">
                <p class="title is-4">{{ ingresso.filme.nome }}</p>
                <p class="subtitle is-6">
                  Posição: <b>{{ ingresso.posicao }}</b> <br />
                  Disponibilidade:
                  <b>{{ ingresso.disponivel | disponibilidade }}</b>
                </p>
                <hr />
              </div>
            </ng-template>
          </div>

          <ng-template #progressoCarregamento>
            <div>Carregando ...</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
