<div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
  <h2 class="title">404 Página não encontrada</h2>
  <small class="sub-title">A página que você está procurando não existe</small>
  <button (click)="goToInicio()" type="button" class="btn btn-block btn-hero-primary">
    Voltar
  </button>
</div>
