<form>

  <div>
    <label for="selectFilmes">Filme:</label>
    <select name="filme" id="selectFilmes" [(ngModel)]="novoIngresso.filme.id">
        <option  disabled>Selecione o filme...</option>
        <option *ngFor="let filme of filmes$ | async" [value]="filme.id">{{ filme.nome }}</option>
    </select>
  </div>
  <div>
    <label for="inputPosicao" >Posição</label>
    <input name="posicao" id="inputPosicao" [(ngModel)]="novoIngresso.posicao" />
  </div>
  <div>
    <button class="button button-primary" (click)="adicionarIngresso()">Adicionar</button>
  </div>
</form>
